.button {
  width: 100%;
  cursor: pointer;
  padding: 10px;
  font-size: 1rem;
  border: none;
  color: white;
  background-color: var(--color-blue);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.button:hover {
  transform: translateY(-5px);
}
