@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --border-radius: 10px;
  --button-border-radius: 5px;

  --color-font: #2d2d2d;
  --color-font-secondary: #5e5e5e;
  --color-blue: #2f89fc;
  --color-red: #f65555;
  --color-white: #ffffff;

  --transition: 0.25s ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: white;
}

body {
  font-family: 'Inter', sans-serif;
}
